.background-color {
    background-color: #1C1C28;
}

.background-color-dropdown {
    background-color: #222222;
}

.font-weight {
    font-weight: 600;
}

.border-white {
    border-radius: 8px;
    border-color: white;
}

.login {
    position: relative;
    left: 130px;
}

@media (min-width: 1200px) {
    .banner1 {
        background-color: black;

    }
}

.sub-text2 {
    color: #4F4F4F;
    position: relative;
    left: 20px;
    bottom: 150px;
    font-weight: 400;
    size: 15px;
    width: 572px;
    height: 46px;
}

.home-text {
    position: relative;
    color: #828282;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
}

.home-text-section-3 {
    color: #303096;
    position: relative;
    width: 620px;
    height: 96px;
    font-weight:800;
    font-size: 30px;
    line-height: 48px;
    letter-spacing: 0cap;
    margin-bottom: 15px;
}

.position-form-email {
    position: relative;
    bottom: 150px;
    left: 20px;
}

.position-section3 {
    position: relative;
    margin-top: 200px;
    right: 800px;
}

.button-submit-email {
    width: 230px;
}

.width-form {
    width: 348px;
}

.section-3-subtext-1 {
    width: 290px;
    height: 54px;
    color: #303096;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
}

.button-sec-4 {
    font-size: 16px;
    position: relative;
    left: 100px;
    top: 220px;
    background-color: #5656C6;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 12px;
}

.button2-sec-4 {
    font-size: 16px;
    position: relative;
    left: 100px;
    top: 220px;
    width: 209px;
    height: 48px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.background-color2-sec-4 {
    background-color: #F4F4FF;
}

.section-3-p {
    color: #4F4F4F;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    width: 290px;
    height: 80px;
}

.button-training {
    position: relative;
    right: 20px;
    background-color: #303096;
    width: 221px;
    height: 48px;
}

.button-workshop {
    background-color: #303096;
    width: 221px;
    height: 48px;
}

.button-submit-email {
    background-color: #5656C6;
}

.position-sec-4 {
    position: relative;
    bottom: 80px;
}

.background-color-sec-4 {
    background-color: #22223C;
    width: 740px;
    height: 700px;
}

.position-asset {
    position: relative;
    top: 150px;
    left: 100px;
}

.position-p-sec-4 {
    position: relative;
    top: 150px;
    left: 100px;
}

.position-line {
    position: relative;
    top: 120px;
    right: 45px;
}

.position-book {
    position: relative;
    top: 100px;
    left: 400px;
}

.text-yellow {
    color: #FFD249;
}

.position-h1-sec-4 {
    position: relative;
    top: 150px;
    left: 100px;
    font-weight: 700;
    font-size: 42px;
    line-height: 63px;
}

.position-p2-sec-4 {
    position: relative;
    top: 160px;
    left: 100px;
    width: 540px;
    height: 90px;
    font-size: 14px;
}

.banner1 {
    position: relative;
    width: 100%;
    height: 90vh;
    background-size: cover;
    margin-bottom: 0;

    .height100p {
        height: 100vh;
    }

    .h100 {
        height: 100%;
    }

    .contentBox {
        position: relative;
        display: flex;
        justify-content: left;
        align-items: center;
        text-align: left;
        z-index: 1;

        .title-text {
            position: relative;
            width: 660px;
            font-weight:800;
            size: 42px;
            word-spacing: normal;
            left: 100px;
            font-size: 32px;
        }

        .text-color {
            color: #FFD249;
        }

        .image-book {
            position: relative;
            left: 70px;
            border-radius: 16px;
            top: calc(50% - 464px/2 - 7px);
            width: 400px;
            height: 464px;  
        }

        .position {
            position: relative;
            left: 100px;
        }

        .sub-text {
            position: relative;
            left: 100px;
            height: 72px;
            size: 16px;
            width: 600px;
            font-weight: 400;
        }

        .button {
            position: relative;
            left: 100px;
            background-color: #5656C6;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        }

        .popular-tag {

            p {
                font-size: 13px;
                padding-top: 5px;
            }

            .btn {
                font-size: 13px;
            }
        }

        @media (min-width: 992px) {

            .tag-btn {
                margin-left: -20px;
            }
        }

        @media (max-width: 767.98px) {
            .tag-btn .btn {
                margin-top: 10px;
            }
        }
    }
}

.banner {
    position: relative;
    width: 100%;
    height: 90vh;
    background-size: cover;
    margin-bottom: 0;

    .height100p {
        height: 100vh;
    }

    .h100 {
        height: 100%;
    }

    .contentBox {
        position: relative;
        display: flex;
        justify-content: left;
        align-items: center;
        text-align: left;
        z-index: 1;

        .home-text {
            position: relative;
            left: 100px;
            color: #828282;
            font-weight: 400;
            font-size: 24px;
            line-height: 36px;
        }

        .image-home1 {
            position: relative;
            margin-left: 70px;
            border-radius: 24px;
            width: 510px;
            height: 360px;
        }

        .sub-text1 {
            color: #4F4F4F;
            position: relative;
            margin-top: 20px;
            left: 100px;
            size: 16px;
            font-weight: 400;
            height: 144px;
            width: 730px;
        }

        .title-text {
            position: relative;
            width: 660px;
            font-weight:800;
            size: 42px;
            word-spacing: normal;
            left: 100px;
        }

        .image-book {
            position: relative;
            left: 70px;
            border-radius: 16px;
            top: calc(50% - 464px/2 - 7px);
            width: 400px;
            height: 464px;  
        }

        .position {
            position: relative;
            left: 100px;
        }

        .sub-text {
            position: relative;
            left: 100px;
            height: 72px;
            size: 16px;
            width: 600px;
            font-weight: 400;
        }

        .button {
            position: relative;
            left: 100px;
            background-color: #5656C6;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        }

        .popular-tag {

            p {
                font-size: 13px;
                padding-top: 5px;
            }

            .btn {
                font-size: 13px;
            }
        }

        @media (min-width: 992px) {

            .tag-btn {
                margin-left: -20px;
            }
        }

        @media (max-width: 767.98px) {
            .tag-btn .btn {
                margin-top: 10px;
            }
        }
    }
}

.section-2 {
    position: relative;
    padding-top: 20px;
    width: 100%;
    background-size: cover;
    margin-bottom: 0;

    .contentBox {
        position: relative;
        display: flex;
        justify-content: left;
        align-items: center;
        text-align: left;
        z-index: 1;

        .text-section2 {
            position: relative;
            left: 28px;
            bottom: 32px;
            color: #828282;
            font-weight: 400;
            font-size: 24px;
            line-height: 36px;
        }

        .image-home1 {
            position: relative;
            margin-left: 70px;
            border-radius: 24px;
            width: 510px;
            height: 360px; 
        }

        .home-text-section-2 {
            color: #303096;
            position: relative;
            bottom: 30px;
            width: 727px;
            height: 96px;
            left: 30px;
            font-weight:800;
            font-size: 32px;
        }

        .sub-text-section-2 {
            color: #4F4F4F;
            position: relative;
            margin-top: 20px;
            left: 30px;
            size: 16px;
            font-weight: 400;
            height: 144px;
            width: 730px;
        }

        .sub-text-section-4 {
            color: #4F4F4F;
            position: relative;
            left: 30px;
            size: 16px;
            font-weight: 400;
            width: 730px;
            height: 120px;
        }

        .position {
            position: relative;
            left: 100px;
        }

        .sub-text {
            position: relative;
            left: 100px;
            height: 72px;
            size: 16px;
            width: 600px;
            font-weight: 400;
        }

        .button {
            position: relative;
            left: 100px;
            background-color: #5656C6;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        }

        .popular-tag {

            p {
                font-size: 13px;
                padding-top: 5px;
            }

            .btn {
                font-size: 13px;
            }
        }

        @media (min-width: 992px) {

            .tag-btn {
                margin-left: -20px;
            }
        }

        @media (max-width: 767.98px) {
            .tag-btn .btn {
                margin-top: 10px;
            }
        }
    }
}

.position-section3 {
    position: relative;
    left: 20px;
}

.section-4 {
    position: relative;
    width: 100%;
    background-size: cover;
    margin-bottom: 0;

    .contentBox {
        position: relative;
        display: flex;
        justify-content: left;
        align-items: center;
        text-align: left;
        z-index: 1;

        .text-section2 {
            position: relative;
            left: 28px;
            bottom: 32px;
            color: #828282;
            font-weight: 400;
            font-size: 24px;
            line-height: 36px;
        }

        .image-home1 {
            position: relative;
            margin-left: 70px;
            border-radius: 24px;
            width: 510px;
            height: 360px; 
        }

        .home-text-section-2 {
            color: #303096;
            position: relative;
            bottom: 30px;
            width: 727px;
            height: 96px;
            left: 30px;
            font-weight:800;
            font-size: 32px;
        }

        .sub-text-section-2 {
            color: #4F4F4F;
            position: relative;
            margin-top: 20px;
            left: 30px;
            size: 16px;
            font-weight: 400;
            height: 144px;
            width: 730px;
        }

        .sub-text-section-4 {
            color: #4F4F4F;
            position: relative;
            bottom: 50px;
            left: 30px;
            size: 16px;
            font-weight: 400;
            width: 730px;
            height: 120px;
        }

        .position {
            position: relative;
            left: 100px;
        }

        .sub-text {
            position: relative;
            left: 100px;
            height: 72px;
            size: 16px;
            width: 600px;
            font-weight: 400;
        }

        .button {
            position: relative;
            left: 100px;
            background-color: #5656C6;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        }

        .popular-tag {

            p {
                font-size: 13px;
                padding-top: 5px;
            }

            .btn {
                font-size: 13px;
            }
        }

        @media (min-width: 992px) {

            .tag-btn {
                margin-left: -20px;
            }
        }

        @media (max-width: 767.98px) {
            .tag-btn .btn {
                margin-top: 10px;
            }
        }
    }
}

.image-blog {
    position: relative;
    left: 68px;
    width: 70px;
    height: 80px;
}

.position-h1-sec-5 {
    position: relative;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    color: #303096;
}

.image-book2 {
    position: relative;
    width: 620px;
    height: 264px;
}

.image-book3 {
    position: relative;
    width: 180px;
    height: 120px;
}

.position-sec-5 {
    position: relative;
    right: 120px;
}

.h1-section5 {
    position: relative;
    color: #4F4F4F;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    width: 400px;
}

.p-section5 {
    position:relative;
    color: #4F4F4F;
    width: 400px;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
}

.p2-section5 {
    position:relative;
    right: 26px;
    color: #4F4F4F;
    width: 200px;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
}

.padding-date {
    position: relative;
    right: 100px;
}

.padding-point {
    position: relative;
    right: 110px;
}

.padding-time {
    position: relative;
    right: 210px;
    color: #4F4F4F;
    width: 200px;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
}

.button-explore-more {
    width: 162px;
    height: 35px;
    align-items: center;
    color: #828282;
}

.footer {
    background-image: url(../../../../assets/Footer.png);
}

.footer2 {
    background-image: url(../../../../assets/Footer2.png);
    background-size: cover;
}

.img-footer2 {
    width: 1440px;
    height: 55px;
}

// .position-text-footer1 {
//     position: relative;
//     bottom: 20px;
// }

.text-title-footer {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
}

.text2-title-footer {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    position: relative;
    bottom: 40px;
}

.subtext-footer {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
}

.subtext2-footer {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    position: relative;
    bottom: 60px;
}

.position-text-footer {
    position: relative;
    left: 380px;
    top: 30px;
}

.position-h1 {
    position: relative;
    right: 370px;
    padding-top: 20px;
    font-size: 14px;
    font-weight: 400;
}

.position2-h1 {
    position: relative;
    right: 70px;
    padding-top: 20px;
    font-size: 14px;
    font-weight: 400;
}

.font-weight-footer {
    font-weight: 600;
}

.position-date {
    position: relative;
    padding-left: 80px
}

.section-5 {
    position: relative;
    width: 100%;
    background-size: cover;
    margin-bottom: 0;

    .contentBox {
        position: relative;
        display: flex;
        justify-content: left;
        align-items: center;
        text-align: left;
        z-index: 1;

        .text-section2 {
            position: relative;
            left: 28px;
            bottom: 32px;
            color: #828282;
            font-weight: 400;
            font-size: 24px;
            line-height: 36px;
        }

        .image-home1 {
            position: relative;
            margin-left: 70px;
            border-radius: 24px;
            width: 510px;
            height: 360px; 
        }

        .home-text-section-5 {
            color: #303096;
            position: relative;
            width: 727px;
            height: 96px;
            left: 70px;
            top: 10px;
            font-weight:800;
            font-size: 32px;
        }

        .sub-text-section-5 {
            color: #4F4F4F;
            position: relative;
            margin-top: 40px;
            font-size: 18px;
            font-weight: 400;
            right: 655px;
        }

        .icon-author {
            position: relative;
            bottom: 70px;
            right: 95px;
        }

        .img-section5 {
            position:relative;
            bottom: 100px;
            left: 40px;
        }

        .p2-section5 {
            position:relative;
            bottom: 140px;
            left: 320px;
            color: #4F4F4F;
            width: 400px;
            font-style: normal;
            font-weight: 400;
            font-size: 13px;
            line-height: 20px;
        }

        .img2-section5 {
            position:relative;
            bottom: 132px;
            left: 135px;
        }

        .p3-section5 {
            position:relative;
            bottom: 160px;
            left: 415px;
            color: #4F4F4F;
            width: 400px;
            font-style: normal;
            font-weight: 400;
            font-size: 13px;
            line-height: 20px;
        }
    }
}


