<section>
  <ngb-carousel>
    <ng-template ngbSlide *ngFor="let item of homeModel.allDataSlider">
      <div class="jumbotron">
        <div class="px-5">
          <div class="container">
            <div class="row">
              <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 first">
                <div class="left-side">
                  <h5>{{item.sliderSubTitle}}</h5>
                  <h1 class="display-4 font-bold mt-2 mb-2">{{item.sliderTitle}}</h1>
                  <p class="mt-3">{{item.sliderDesc}}</p>
                  <p class="lead mt-5">
                    <a class="btn btn-slider btn-lg" href="{{item.sliderSlug}}" role="button">{{item.buttonName}}</a>
                  </p>
                </div>
              </div>
              <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 second">
                <div class="bg-white right-side">
                  <img class="center" src="{{item.sliderImage}}" alt="sliderImage">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>

  </ngb-carousel>

</section>

<!-- <div class="flex flex-row justify-center mx-10 px-10 my-5 grid grid-cols-1 md:grid-cols-2 gap-4">
  <img class="md:w-3/4" src="../../../../assets/discuss.jpg" alt="Image Description">
  <div class="w-full">
    <p class="font-semibold text-2xl text-zinc-400 mb-3">What We Do</p>
    <h1 class="font-bold text-3xl text-indigo-800 mb-8">
      We Publish Content Daily to Upskill Talent, Build Capabilities, and Foster Collaboration.
    </h1>
    <p>
      The capabilities of a company's human resources are crucial to the success of an organization or business.
      Technobankers are here to help you succeed.
      Our comprehensive learning materials and industry-focused training programs will equip you and your team with
      the digital skills necessary to succeed in today's fast-paced industry. Whether you're a fresh graduate or
      professional, invest in yourself and join Technobankers community today!
    </p>
  </div>
</div> -->

<div class="container">
  <div class="grid grid-cols-1 gap-4 mt-10 mx-5" style="margin-bottom: 55px;">
    <div class="col-start-1 col-end-2">
      <p class="home-text font-medium mb-2">Explore the Series</p>
      <h1 class="home-text-section-3">
        Unlock Your Potential with Technobankers
      </h1>
    </div>
    <div class="flex flex-wrap">
      <div class="basis-full md:basis-1/4 mb-3 md:px-3 sm:px-0">
        <div class="flex flex-wrap items-center mb-2">
          <img class="icon" src="../../../../assets/sec-3-1.png">
          <p class="text-zinc-400 font-bold">First</p>
        </div>
        <p class="font-bold text-xl text-indigo-800 mb-3">Innovative Storytelling</p>
        <p>"TechnoBanker" isn't just a book series; it's an immersive experience. Each instalment takes you on an
          adventure filled with intrigue, technology, and the fast-paced world of finance. Get ready to be hooked from
          the very first page!</p>
      </div>
      <div class="basis-full md:basis-1/4 mb-3 md:px-3 sm:px-0">
        <div class="flex flex-wrap items-center mb-2">
          <img class="icon" src="../../../../assets/sec-3-2.png">
          <p class="text-zinc-400 font-bold">Second</p>
        </div>
        <p class="font-bold text-xl text-indigo-800 mb-3">Fintech Unleashed</p>
        <p>Dive deep into the realms of fintech, artificial intelligence, blockchain, and more. The series explores how
          these technologies impact the financial landscape, shaping the destiny of characters navigating complex modern
          finance after the pandemic Covid-19.</p>
      </div>
      <div class="basis-full md:basis-1/4 mb-3 md:px-3 sm:px-0">
        <div class="flex flex-wrap items-center mb-2">
          <img class="icon" src="../../../../assets/sec-3-3.png">
          <p class="text-zinc-400 font-bold">Third</p>
        </div>
        <p class="font-bold text-xl text-indigo-800 mb-3">Global Settings</p>
        <p>Embark on a globe-trotting adventure as the characters traverse international financial hubs. From the US to
          China and Indonesia, witness the convergence of finance and technology on a global stage.</p>
      </div>
      <div class="basis-full md:basis-1/4 mb-3 md:px-3 sm:px-0">
        <div class="flex flex-wrap items-center mb-2">
          <img class="icon" src="../../../../assets/sec-3-4.png">
          <p class="text-zinc-400 font-bold">Fourth</p>
        </div>
        <p class="font-bold text-xl text-indigo-800 mb-3">Thrilling Characters</p>
        <p>Meet a diverse cast of characters - from brilliant tech prodigies to seasoned banking veterans, each with
          their motivations and secrets. As their paths intertwine, a gripping narrative unfolds, keeping you on the
          edge of your seat.</p>
      </div>
    </div>
  </div>
</div>

<!-- <div class="grid grid-cols-2 position-sec-4 our-book">
  <div class="col-start-1 col-end-2 background-color-sec-4">
    <img class="position-line" src="../../../../assets/line.png">
    <img class="position-book" src="../../../../assets/Our Book.png">
    <img class="position-asset" src="../../../../assets/toppick.gif">
    <p class="mt-3 text-white position-p-sec-4">The Most Read Series of Technobankers Press</p>
    <a href="#"
      class="inline-flex justify-center items-center py-2.5 px-5 text-base font-medium text-center text-white rounded-lg focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900 button-sec-4">
      Download free chapter here
    </a>
    <a href="#"
      class="ml-10 text-white border border-white rounded-lg py-2.5 px-5 text-base font-medium text-center text-white rounded-lg focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900 button2-sec-4">
      or visit Our Library
    </a>
  </div>
  <div class="background-color2-sec-4">
    <img class="image-home1" src="../../../../assets/Buku technobankers mockup-01.jpg">
  </div>
</div> -->

<div class="bg-[#22223C]">
  <div class="container">
    <div class="flex flex-wrap justify-center py-12">
      <div class="basis-full md:basis-1/2 text-white px-3">
        <img class="mb-2" src="../../../../assets/our-book.png">
        <img src="../../../../assets/toppick.gif">
        <p class="text-[18px]">The Most Read Series of Digi Optima Media Press</p>
        <h5 class="text-[42px] font-bold mb-4">Technobanker</h5>
        <p>The first book in Technobanker Series. This book present an overview of the competencies that are required
          for the development of intelligent digital banking based on Our Expert experiences in the industry. The focus
          is on the future of emerging technologies like Artificial Intelligence, Blockchain, Cloud Computing, Big Data,
          and the Internet of Things (IoT), which are reshaping the banking sector by enabling sophisticated digital
          banking systems.</p>
        <div class="flex flex-wrap mt-12">
          <div class="basis-full md:basis-1/2 md:pe-2">
            <a href="detail-book/1">
              <button
                class="border-2 w-full border-indigo-600 bg-indigo-600 hover:bg-blue-700 text-white font-bold
                 py-2 px-4 my-2 rounded-xl">
                Download free chapter here
              </button>
            </a>
          </div>
          <div class="basis-full md:basis-1/2">
            <button class="border-2 hover:bg-indigo-600 text-white font-bold py-2 px-4 my-2 rounded-xl w-full 
            md:w-4/5"
              (click)="goToOurLibrary()">
              or visit Our Library
            </button>
          </div>
        </div>
      </div>

      <div class="basis-full md:basis-1/2 py-6">
        <img class="w-full" src="../../../../assets/buku-mockup.png">
      </div>

      <div class="basis-full py-6 px-3">
        <div class="flex flex-wrap rounded-[1.5rem] text-white w-100 p-6 bg-[#313157] content-center">
          <div class="basis-full md:basis-2/4 px-2">
            <h5 class="text-[#FFD249] text-[42px] font-bold mb-9">Get Your Copy</h5>

            <p>Be among the first to experience the "TechnoBanker" series by pre-ordering your copy online. Limited
              editions and special bundles will be available.</p>
          </div>
          <div class="basis-full md:basis-1/4 flex justify-center md:mt-0 mt-4">
            <div class="border-white bg-white hover:bg-white py-3 px-3 flex flex-row flex-wrap items-center justify-center text-center md:w-fit h-fit w-full">
              <img class="w-[50px] h-[50px]" src="../../../../assets/icon-tokopedia.png" alt="">
              <div class="flex flex-col ml-2">
                <p class="text-[#2C2E31] font-semibold">For Indonesian Readers</p>
                <a href="https://www.tokopedia.com/digioptimamedia" target="_blank">
                  <button class="border-2 border-indigo-600 bg-indigo-600 hover:bg-blue-700 text-white font-bold py-2 px-4 my-2 rounded-xl w-full">Buy on Tokopedia</button>
                </a>
              </div>
            </div>
          </div>
          <div class="basis-full md:basis-1/4 flex justify-center md:mt-0 mt-4">
            <div class="border-white bg-white hover:bg-white py-3 px-3 flex flex-row flex-wrap items-center justify-center text-center md:w-fit h-fit w-full">
              <img class="w-[50px] h-[50px]" src="../../../../assets/icon-technobanker-v2.png" alt="">
              <div class="flex flex-col ml-2"> 
                <p class="text-[#2C2E31] font-semibold">For International Readers</p>             
                <button (click)="buyEbook()" class="border-2 border-indigo-600 bg-indigo-600 hover:bg-blue-700 text-white font-bold py-2 px-4 my-2 rounded-xl w-full">Buy on this website</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="basis-full md:basis-1/2 py-6 px-3">
        <h5 class="text-[#FFD249] text-[42px] font-bold mb-3">Book Launch Event</h5>
        <div class="rounded-[1.5rem] text-white w-100 p-6 bg-[#313157] flex flex-wrap content-center">
          <div class="basis-full md:basis-2/3 px-2">
            <h5 class="text-[#FFD249] text-[18px] font-semibold">Book Signing</h5>
            <p class="text-white text-[14px]">get limited editions & exclusive signed by the author</p>
            <h5 class="text-[#FFD249] text-[18px] font-semibold mt-4">Panel Discussion</h5>
            <p class="text-white text-[14px]">with experts in the fields of technology and finance</p>
          </div>
          <div class="basis-full md:basis-1/3 px-2 flex flex-col justify-center">
            <button
              class="border-2 border-[#5656C6] bg-[#5656C6] hover:bg-[#5656C6] py-2 px-4 my-2 rounded-2xl flex justify-center">
              <h5 class="text-[#FFD249] text-[24px] font-bold">15 Feb 2024</h5>
            </button>
            <a href="event/detail/1">
              <button
                class="w-100 border-2 border-indigo-600 bg-indigo-600 hover:bg-blue-700 text-white font-bold py-2 px-4 my-2 rounded-xl">
                See Detail Event
              </button>
            </a>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</div>

<div class="container">
  <div class="flex flex-col">
    <div class="basis-full flex flex-wrap justify-center py-12">
      <div class="basis-full md:basis-1/2">
        <img class="" src="../../../../assets/foto-bu-elisa.png">
      </div>
      <div class="basis-full md:basis-1/2 mt-2">
        <p class="font-semibold text-2xl text-zinc-400 mb-2">Meet the Author</p>
        <h1 class="font-bold text-[42px] text-indigo-800 mb-8">Dr. Elisa Indriasari</h1>
        <p>Our Expert Behind "TechnoBanker.", <b>Dr. Elisa</b>, has been a practician in IT industries for 25 years, she
          is also a researcher in Information Systems and Computer Sciences. She master storyteller with a passion for
          weaving tales that blend the excitement of technology in the financial world. Get to know the mind behind the
          series and the inspiration that led to this groundbreaking storytelling experience.</p>
      </div>
    </div>
    <div class="basis-full flex flex-wrap justify-center py-12">
      <div class="basis-full md:basis-1/2">
        <img class="" src="../../../../assets/home-banner-2.png">
      </div>
      <div class="basis-full md:basis-1/2 mt-2">
        <p class="font-semibold text-2xl text-zinc-400 mb-2">Be the Next Level of Digital Talent</p>
        <h1 class="font-bold text-[42px] text-indigo-800 mb-8">Upskilling Your Talent Capabilities and Fostering Collaboration With Us</h1>
       <a href="corporate-training">
        <button
          class="border-2 border-[#303096] bg-[#303096] hover:bg-[#303096] text-white font-bold py-2 px-4 my-2 rounded-xl">
          See Our Training
        </button>
       </a>
      </div>
    </div>
    <div class="basis-full flex flex-wrap justify-center py-12">
      <div class="basis-full">
        <div class="rounded-[1.5rem] text-white w-100 md:p-16 p-8 bg-[#22223C] flex flex-wrap">
          <div class="px-3 my-2 basis-full md:basis-1/2 flex flex-col justify-start">
            <h1 class="font-bold text-[32px] text-[#F2C94C] mb-4">Join Our Community</h1>
            <p class="font-normal">Subscribe to our newsletter for exclusive updates, special offers, and bonus content
              related to the "TechnoBanker" series. Be part of our community of readers shaping the future of
              storytelling in the digital age.</p>
          </div>
          <div class="px-3 my-2 basis-full md:basis-1/2 flex flex-col justify-center">
            <div class="bg-[#EFEFFF] border border-gray-200 rounded-[1.5rem] shadow">
              <a href="#">
                <img class="rounded-t-lg w-full" src="../../../../assets/home-subscribe.png" alt="" />
              </a>
              <div class="p-3">
                <form class="mx-auto">
                  <div class="flex flex-wrap">
                    <div class="basis-full md:basis-1/2 px-1 my-1">
                      <div class="inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                      </div>
                      <input type="text" id="email-address-icon" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-[1rem] focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Email address">
                    </div>
                    <div class="basis-full md:basis-1/2 px-1 my-1">
                      <button class="border-2 border-indigo-600 bg-indigo-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-xl w-full">
                        Send Me Newsletter
                    </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>