.text-gray {
    color: #4F4F4F;
}

.pointer-events-auto {
    cursor: pointer;
}

.background-color {
    background-color: #1C1C28;
}

.background-color-dropdown {
    background-color: #222222;
}

.font-weight {
    font-weight: 600;
}

.border-white {
    border-radius: 8px;
    border-color: white;
}

.login {
    position: relative;
    left: 130px;
}

.footer {
    background-image: url(../../../../assets/Footer.png);
}

.footer2 {
    background-image: url(../../../../assets/Footer2.png);
    background-size: cover;
}

.img-footer2 {
    width: 1440px;
    height: 55px;
}

// .position-text-footer1 {
//     position: relative;
//     bottom: 20px;
// }

.text-title-footer {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
}

.text2-title-footer {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    position: relative;
    bottom: 40px;
}

.subtext-footer {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
}

.subtext2-footer {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    position: relative;
    bottom: 60px;
}

.position-text-footer {
    position: relative;
    left: 380px;
    top: 30px;
}

.position-h1 {
    position: relative;
    right: 370px;
    padding-top: 20px;
    font-size: 14px;
    font-weight: 400;
}

.position2-h1 {
    position: relative;
    right: 70px;
    padding-top: 20px;
    font-size: 14px;
    font-weight: 400;
}

.font-weight-footer {
    font-weight: 600;
}

.background-color-yellow {
    background: #FFD249;
    border-radius: 16px;
    width: 1300px;
    height: 109px;
}

.title-text {
    width: 730px;
    height: 48px;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    color: #4F4F4F;
}

.sub-text {
    width: 1280px;
    height: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #4F4F4F;
}

.sub-text2 {
    width: 640px;
    height: 48px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #4F4F4F;
}

.title-text2 {
    width: 400px;
    height: 30px;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #4F4F4F;
}

.position-text-book {
    position: relative;
    right: 120px;
}

.title-book {
    position: relative;
    width: 414px;
    height: 27px;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: #4F4F4F;
}

.subtext-book {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #4F4F4F;
}

.position-icon-dropdown {
    position: relative;
    left: 50px;
}

.position-flag {
    position: relative;
    left: 100px;
}

.icon-eye {
    position: relative;
    top: 5px;
    height: 18px;
}

.imageList {
    width: 160px;
    height: 200px;
    border-radius: 6px;
}