<div class="grid justify-items-center mt-20 p">
    <img  src="../../../../assets/pdf-not-found.png" alt="">
    <h1 class="text-danger pt-2">File Not Found</h1>
    <p class="text-desc pt-2">The file you are looking for is no longer in our system. You can search for other documents or re-register your email to receive new documents.</p>
    <button (click)="goToHome()" type="button" class="mt-8 shadow focus:outline-none text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 mb-2 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-900">
        Go to Home
    </button>
</div>
