@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

.background-color {
    background-color: #1C1C28;
}

.background-color-dropdown {
    background-color: #222222;
}

.font-weight {
    font-weight: 600;
}

.border-white {
    border-radius: 8px;
    border-color: white;
}

.login {
    position: relative;
    left: 130px;
}