<nav class="background-color">
    <div class="flex flex-wrap items-center justify-between mx-auto p-4 font-weight">
      <a href="" class="flex items-center">
          <img src="assets/logo.png" class="h-8 mr-3" alt="Flowbite Logo">
          <span class="self-center whitespace-nowrap text-white">Technobankers</span>
      </a>
    <div class="flex md:order-2">
        <button type="button" class="text-white border border-white rounded-lg text-sm px-5 py-1.5 text-center items-center">Register</button>
    </div>
    <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-sticky">
      <ul class="flex flex-col p-4 md:p-0 mt-4 font-medium md:flex-row md:space-x-8 md:mt-0 md:border-0 dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
        <li>
          <a href="#" class="block py-2 pl-3 pr-4 text-white font-weight" aria-current="page">Home</a>
        </li>
        <li>
          <button id="dropdownHoverButton" data-dropdown-toggle="dropdownHover" data-dropdown-trigger="hover" class="flex justify-between w-full py-2 pl-3 pr-4 rounded block py-2 pl-3 pr-4 text-white font-weight">
            Training 
            <svg class="w-5 h-5 ml-1" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd">
              </path>
            </svg>
          </button>
          <!-- Dropdown menu -->
          <div id="dropdownHover" class="z-30 font-normal w-44 background-color-dropdown">
            <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownHoverButton">
              <li>
                <a href="#" class="block px-4 py-2 hover text-white">Public Training</a>
              </li>
              <li>
                <a href="#" class="block px-4 py-2 hover text-white">Company Training</a>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <button id="dropdownHoverButton1" data-dropdown-toggle="dropdownHover1" data-dropdown-trigger="hover" class="flex justify-between w-full py-2 pl-3 pr-4 rounded block py-2 pl-3 pr-4 text-white font-weight">
            Events 
            <svg class="w-5 h-5 ml-1" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd">
              </path>
            </svg>
          </button>
          <!-- Dropdown menu -->
          <div id="dropdownHover1" class="z-30 hidden font-normal divide-y divide-gray-100 w-44 background-color-dropdown dark:divide-gray-600">
            <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownHoverButton1">
              <li>
                <a href="#" class="block px-4 py-2 hover text-white">Workshop</a>
              </li>
              <li>
                <a href="#" class="block px-4 py-2 hover text-white">Other Events</a>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <a href="#" class="block py-2 pl-3 pr-4 text-white font-weight">Blog</a>
        </li>
        <li>
          <a href="#" class="block py-2 pl-3 pr-4 text-white font-weight">Our Library</a>
        </li>
        <li>
          <a href="#" class="block py-2 pl-3 pr-4 text-white font-weight">About</a>
        </li>
        <li>
          <a href="#" class="block py-2 pl-4 pr-4 text-white font-weight login">Login</a>
        </li>
      </ul>
    </div>
    </div>
  </nav>
