<div class="container">
    <div class="flex flex-col">
        <div class="basis-full flex flex-wrap justify-center">
            <div class="basis-full">
              <div class="flex flex-wrap md:p-10">
                <div class="mt-4 rounded-s-2xl height basis-full md:basis-1/2 flex flex-col justify-center">
                    <h1 class="font-bold text-[18px] md:text-[28px] text-[#F9B115] mb-2" style="font-weight: 700;">Upskill Your Corporate Team</h1>
                    <h1 class="font-bold text-[32px] md:text-[48px] text-[#303096] mb-4">Accelerate Leadership, Collaboration, and Innovation for Digital Transformation</h1>
                    <div class="mt-2 flex flex-wrap justify-center md:justify-start">
                        <div class="md:mt-0 mt-2">
                            <button type="button" class="text-white bg-[#303096] hover:bg-[#303096] focus:ring-4 focus:outline-none focus:ring-[#303096]
                            font-medium rounded-xl text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-[#303096] dark:focus:ring-blue-800">
                            See Our Program &nbsp;
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none">
                                <g clip-path="url(#clip0_3577_5274)">
                                  <path d="M24 12.0002C24 5.38347 18.6168 0.000436783 11.9999 0.000436783C5.38325 0.000436783 0 5.38347 0 12.0002C0 18.6169 5.38325 24 11.9999 24C18.6168 24 24 18.6169 24 12.0002ZM1.6427 12.0002C1.6427 6.28925 6.28892 1.64314 11.9999 1.64303C17.711 1.64303 22.3572 6.28914 22.3573 12.0002C22.3572 17.7111 17.711 22.3572 11.9998 22.3572C6.28903 22.3572 1.6427 17.7111 1.6427 12.0002Z" fill="white"/>
                                  <path d="M17.1396 13.6117C17.2936 13.4576 17.3801 13.2488 17.3801 13.031C17.3801 12.8131 17.2936 12.6043 17.1396 12.4502C17.0633 12.3739 16.9728 12.3134 16.8731 12.2721C16.7734 12.2308 16.6666 12.2096 16.5587 12.2096C16.4509 12.2096 16.344 12.2308 16.2444 12.2722C16.1447 12.3135 16.0542 12.374 15.9779 12.4503L12.8218 15.6065L12.821 6.46682C12.8209 6.24898 12.7344 6.04008 12.5803 5.88605C12.4263 5.73203 12.2174 5.64551 11.9995 5.64552C11.7817 5.64554 11.5728 5.73209 11.4188 5.88613C11.2648 6.04017 11.1782 6.24909 11.1782 6.46693L11.1791 15.6069L8.0224 12.45C7.86836 12.2959 7.65943 12.2094 7.44158 12.2094C7.22372 12.2094 7.01479 12.2959 6.86073 12.4499C6.70668 12.604 6.62013 12.8129 6.62012 13.0307C6.62011 13.2486 6.70664 13.4575 6.86068 13.6116L11.4195 18.1705C11.4958 18.2468 11.5863 18.3073 11.6859 18.3486C11.7856 18.3899 11.8924 18.4112 12.0003 18.4111C12.2182 18.411 12.4271 18.3245 12.5812 18.1704L17.1396 13.6117Z" fill="white"/>
                                </g>
                                <defs>
                                  <clipPath id="clip0_3577_5274">
                                    <rect width="24" height="24" fill="white" transform="matrix(0 -1 1 0 0 24)"/>
                                  </clipPath>
                                </defs>
                              </svg>
                            </button>
                        </div>
                        <div class="md:mt-0 mt-2">
                            <button type="button" class="ms-3 btn btn-outline-primary border-[1.5px] text-[#2F80ED] rounded-xl hover:bg-gray-100 hover:text-[#2F80ED] px-4 text-center">
                                Request Training? Discuss with Us
                            </button>
                        </div>
                    </div>
                </div>
                <div class="mt-5">
                    <img width="550px" height="500px" src="../../../../assets/img-cor-training-sec-1.svg" alt="">
                </div>
              </div>
            </div>
        </div>
    </div>
</div>


<a href="https://api.whatsapp.com/send?phone=6281510052899">
    <img class="w-32 h-32 z-10 fixed right-0 bottom-0" src="../../../../assets/whatsapp.svg" alt="">
</a>

<div class="container mt-5 md:mt-0">
    <div class="flex flex-col">
        <div class="basis-full flex flex-wrap justify-center">
            <div class="basis-full ms-3 pe-4 mb-3">
                <div class="md:p-10 bg-[#474790] rounded-2xl mx-4 flex flex-col md:flex-row items-center md:text-left">
                    <div class="md:flex-shrink-0 rounded-s-2xl justify-center md:mr-5 text-center md:text-left">
                        <p class="text-[#FFF] text-[18px]" style="font-weight: 500;">Our Training Program</p>
                        <h1 class="text-[#FFF] text-[36px]" style="font-weight: 700;">Digital Talent Acceleration</h1>
                    </div>
                    <span class="mx-5 hidden md:inline">
                        <svg xmlns="http://www.w3.org/2000/svg" width="3" height="93" viewBox="0 0 3 93" fill="none">
                            <path d="M3 2C3 1.17157 2.32843 0.5 1.5 0.5C0.671573 0.5 3.62117e-08 1.17157 0 2L3 2ZM0 2L-3.97773e-06 93L3 93L3 2L0 2Z" fill="#F4F4FF"/>
                        </svg>
                    </span>
                    <div class="md:hidden mt-4">
                        <ul>
                            <li class="text-[#FFF] text-[36px] mb-2" style="font-weight: 700;">20+</li>
                            <li class="text-[#FFF] text-[18px] mb-4" style="font-weight: 500; width: 150px;">Years Experiences in Industry</li>
                            
                            <li class="text-[#FFF] text-[36px] mb-2" style="font-weight: 700;">5.000+</li>
                            <li class="text-[#FFF] text-[18px] mb-4" style="font-weight: 500; width: 150px;">Training Participants</li>
                            
                            <li class="text-[#FFF] text-[36px] mb-2" style="font-weight: 700;">>80%</li>
                            <li class="text-[#FFF] text-[18px]" style="font-weight: 500; width: 150px;">Partners Satisfy with Our Program</li>
                        </ul>
                    </div>
                    <div class="hidden md:flex flex-col justify-center">
                        <div class="flex">
                            <div class="pe-5">
                                <h1 class="text-[#FFF] text-[36px]" style="font-weight: 700;">20+</h1>
                                <p class="text-[#FFF] text-[18px]" style="font-weight: 500; width: 150px;">Years Experiences in Industry</p>
                            </div>
                            <div class="pe-2">
                                <h1 class="text-[#FFF] text-[36px]" style="font-weight: 700;">5.000+</h1>
                                <p class="text-[#FFF] text-[18px]" style="font-weight: 500; width: 150px;">Training Participants</p>
                            </div>
                            <div class="md:mb-0">
                                <h1 class="text-[#FFF] text-[36px]" style="font-weight: 700;">>80%</h1>
                                <p class="text-[#FFF] text-[18px]" style="font-weight: 500; width: 150px;">Partners Satisfy with Our Program</p>
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container pt-5 mb-5">
    <h1 class="text-center text-[#4F4F4F] text-[36px]" style="font-weight: 700;">
        Why Technobankers Training Program is the Best Solution for Your Team?
    </h1>
</div>

<div class="container">
    <div class="flex flex-wrap justify-center">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-2 md:ps-5">
            <div class="basis-full md:basis-1/2 flex flex-wrap justify-center">
                <div>
                    <div class="flex flex-wrap w-full">
                        <img style="width: 36px; height: 36px;" src="../../../../assets/icon-list1.svg" alt="">
                        <h3 class="text-[#4F4F4F] text-[20px] mt-1 ps-2" style="font-weight: 700;">Learn with Experts</h3>
                    </div>
                    <p class="text-[#4F4F4F] text-[16px] ms-4 md:w-94" style="padding-left: 20px;">
                        Our instructor team consists of professional practitioners in their industries who are ready to aid your team in learning the subject and answer all your queries.
                    </p>
                </div>
                <div>
                    <div class="flex flex-wrap w-full">
                        <img style="width: 36px; height: 36px;" src="../../../../assets/icon-list2.svg" alt="">
                        <h3 class="text-[#4F4F4F] text-[20px] mt-1 ps-2" style="font-weight: 700;">Customizable Curriculum</h3>
                    </div>
                    <p class="text-[#4F4F4F] text-[16px] ms-4 md:w-94" style="padding-left: 20px;">
                        We design a curriculum that is relevant to industry needs, making it easy for talents to understand the materials.
                    </p>
                </div>
                <div>
                    <div class="flex flex-wrap w-full">
                        <img style="width: 36px; height: 36px;" src="../../../../assets/icon-list3.svg" alt="">
                        <h3 class="text-[#4F4F4F] text-[20px] mt-1 ps-2" style="font-weight: 700;">Project Based Learning</h3>
                    </div>
                    <p class="text-[#4F4F4F] text-[16px] ms-4 md:w-94" style="padding-left: 20px;">
                        Assisting participants during the learning process. Our objective is to develop digital talents who can not only understand theory but also solve problems and collaborate on real projects.
                    </p>
                </div>
                <div>
                    <div class="flex flex-wrap w-full">
                        <img style="width: 36px; height: 36px;" src="../../../../assets/icon-list4.svg" alt="">
                        <h3 class="text-[#4F4F4F] text-[20px] mt-1 ps-2" style="font-weight: 700;">Mentoring Session</h3>
                    </div>
                    <p class="text-[#4F4F4F] text-[16px] ms-4 md:w-94" style="padding-left: 20px;">
                        At the final week of the session, participants will be handed a final project according to the company's needs. Our mentors will provide assistance until their final presentation.
                    </p>
                </div>
                <div>
                    <div class="flex flex-wrap w-full">
                        <img style="width: 36px; height: 36px;" src="../../../../assets/icon-list5.svg" alt="">
                        <h3 class="text-[#4F4F4F] text-[20px] mt-1 ps-2" style="font-weight: 700;">Get Certification Completion</h3>
                    </div>
                    <p class="text-[#4F4F4F] text-[16px] ms-4 md:w-94" style="padding-left: 20px;">
                        Actively participate in training, complete final projects, and pass competency exams will earn a certificate of completion at the end of the program.
                    </p>
                </div>
            </div>
            <div class="basis-full md:basis-1/2 flex flex-wrap justify-center">
                <img class="" style="width: 512px; height: 286px; border-radius: 32px;" src="../../../../assets/team photo 1.svg" alt="">
                <div class="flex flex-wrap m-3 justify-center ">
                    <img class="" style="width: 220px; height: 220px;" src="../../../../assets/team photo 2.svg" alt="">
                    <span class="hidden md:inline">
                        <svg class="mx-3" xmlns="http://www.w3.org/2000/svg" width="10" height="230" viewBox="0 0 10 230" fill="none">
                            <path d="M5 5L5.00001 225" stroke="#56CCF2" stroke-width="10" stroke-linecap="round"/>
                        </svg>
                    </span>
                    <img style="width: 220px; height: 220px;" class="pt-5 md:pt-0" src="../../../../assets/photo code.svg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container justify-center pt-5">
    <div class="text-center pb-4 md:pb-0">
        <h1 class="text-[#4F4F4F] text-[36px]" style="font-weight: 700;">
            Discover Our Training Program
        </h1>
    </div>
    <div class="flex justify-center pb-4 md:pb-0">
        <p class="text-center text-[#4F4F4F] text-[16px]" style="font-weight: 400; width: 710px;">
            Our curricullum is designed to improve Digital Talent capabilities align with their job roles. Training is available for both beginners and professionals.
        </p>
    </div>
</div>

<div class="container pb-5">
    <div class="basis-full flex flex-wrap justify-center">
        <div class="flex flex-wrap">
            <div class="basis-full md:basis-1/3 flex flex-col text-center md:text-left">
                <div>
                    <button style="width: 290px;" class="px-2 py-3 rounded-xl text-white button-1">
                        Programming
                    </button>
                </div>
                <div>
                    <button style="width: 290px;" class="mt-2 px-2 py-3 rounded-xl text-white button-2">
                        Product Development
                    </button>
                </div>
                <div>
                    <button style="width: 290px;" class="mt-2 px-2 py-3 rounded-xl text-white button-3">
                        Analyst
                    </button>
                </div>
            </div>
            <div class="basis-full md:basis-2/3 flex flex-col">
                <div class="flex md:justify-end justify-center pt-4 md:pt-0">
                    <a href="/list-corporate-training" type="button" class="ms-3 btn btn-outline-primary border-[1.5px] text-[#2F80ED] rounded-xl hover:bg-gray-100 hover:text-[#2F80ED] px-4 text-center">
                        View All  Training
                    </a>
                </div>
                <div class="grid grid-cols-1 md:grid-cols-3 gap-3 mt-4">
                    <div class="md:max-w-md bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                        <div class="relative ...">
                            <img class="md:w-290 w-full h-687" src="../../../../assets/img-grid-cor-training.png" alt="" />
                            <div class="absolute top-2 left-2">
                              <p class="text-white font-semibold py-2 px-2 bg-[#2D9CDB] rounded-xl">Specialization</p>
                            </div>
                        </div>
                        <p class="bg-[#2D9CDB] text-[#14px] text-white font-semibold p-2">Programmer</p>
                        <div class="p-3 mb-3">
                            <h5 class="mb-2 text-[16px] md:w-44 font-bold tracking-tight text-[#4F4F4F] dark:text-white">
                                Mobile Android Development
                            </h5>
                            <p class="font-normal text-[#4F4F4F] dark:text-gray-400 text-[14px]">
                                5 Days | 4 hours/day
                            </p>
                            <p class="font-normal text-[#4F4F4F] dark:text-gray-400 text-[14px]">
                                Onsite Training
                            </p>
                            <div class="flex mt-3">
                                <p class="font-bold text-white text-[12px] bg-[#E55353] p-2 rounded-md w-46 h-26">
                                    -10%
                                </p>
                                <p class="font-bold text-[#BDBDBD] text-[12px] ms-2 mt-2 line-through">
                                    IDR 5.000.000
                                </p>
                            </div>
                            <p class="font-semibold text-[#4F4F4F] text-[18px]">
                                IDR 5.000.000
                            </p>
                            <p class="font-normal text-[#4F4F4F] dark:text-gray-400 text-[11px]">
                                Special price apply until 31 March 2024
                            </p>
                            <div class="text-center mt-3">
                                <a href="/detail-corporate-training" type="button" class="text-white bg-[#303096] hover:bg-[#303096] focus:ring-4 focus:outline-none focus:ring-[#303096]
                                text-[14px] rounded-xl px-3 py-2 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-[#303096] dark:focus:ring-blue-800">
                                    See Program Detail  
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="md:max-w-md bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                        <div class="relative ...">
                            <img class="md:w-290 w-full h-687" src="../../../../assets/img-grid-cor-training.png" alt="" />
                            <div class="absolute top-2 left-2">
                              <p class="text-white font-semibold py-2 px-2 bg-[#5656C6] rounded-xl">Full Program</p>
                            </div>
                        </div>
                        <p class="bg-[#2D9CDB] text-[#14px] text-white font-semibold p-2">Programmer</p>
                        <div class="p-3 mb-3">
                            <h5 class="mb-2 text-[16px] md:w-44 font-bold tracking-tight text-[#4F4F4F] dark:text-white">
                                Mobile Android Development
                            </h5>
                            <p class="font-normal text-[#4F4F4F] dark:text-gray-400 text-[14px]">
                                5 Days | 4 hours/day
                            </p>
                            <p class="font-normal text-[#4F4F4F] dark:text-gray-400 text-[14px]">
                                Onsite Training
                            </p>
                            <div class="flex mt-3">
                                <p class="font-bold text-white text-[12px] bg-[#E55353] p-2 rounded-md w-46 h-26">
                                    -10%
                                </p>
                                <p class="font-bold text-[#BDBDBD] text-[12px] ms-2 mt-2 line-through">
                                    IDR 5.000.000
                                </p>
                            </div>
                            <p class="font-semibold text-[#4F4F4F] text-[18px]">
                                IDR 5.000.000
                            </p>
                            <p class="font-normal text-[#4F4F4F] dark:text-gray-400 text-[11px]">
                                Special price apply until 31 March 2024
                            </p>
                            <div class="text-center mt-3">
                                <a href="/detail-corporate-training" type="button" class="text-white bg-[#303096] hover:bg-[#303096] focus:ring-4 focus:outline-none focus:ring-[#303096]
                                text-[14px] rounded-xl px-3 py-2 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-[#303096] dark:focus:ring-blue-800">
                                    See Program Detail  
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="md:max-w-md bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                        <div class="relative ...">
                            <img class="md:w-290 w-full h-687" src="../../../../assets/img-grid-cor-training.png" alt="" />
                            <div class="absolute top-2 left-2">
                              <p class="text-white font-semibold py-2 px-2 bg-[#2D9CDB] rounded-xl">Specialization</p>
                            </div>
                        </div>
                        <p class="bg-[#2D9CDB] text-[#14px] text-white font-semibold p-2">Programmer</p>
                        <div class="p-3 mb-3">
                            <h5 class="mb-2 text-[16px] md:w-44 font-bold tracking-tight text-[#4F4F4F] dark:text-white">
                                Mobile Android Development
                            </h5>
                            <p class="font-normal text-[#4F4F4F] dark:text-gray-400 text-[14px]">
                                5 Days | 4 hours/day
                            </p>
                            <p class="font-normal text-[#4F4F4F] dark:text-gray-400 text-[14px]">
                                Onsite Training
                            </p>
                            <div class="flex mt-3">
                                <p class="font-bold text-white text-[12px] bg-[#E55353] p-2 rounded-md w-46 h-26">
                                    -10%
                                </p>
                                <p class="font-bold text-[#BDBDBD] text-[12px] ms-2 mt-2 line-through">
                                    IDR 5.000.000
                                </p>
                            </div>
                            <p class="font-semibold text-[#4F4F4F] text-[18px]">
                                IDR 5.000.000
                            </p>
                            <p class="font-normal text-[#4F4F4F] dark:text-gray-400 text-[11px]">
                                Special price apply until 31 March 2024
                            </p>
                            <div class="text-center mt-3">
                                <a href="/detail-corporate-training" type="button" class="text-white bg-[#303096] hover:bg-[#303096] focus:ring-4 focus:outline-none focus:ring-[#303096]
                                text-[14px] rounded-xl px-3 py-2 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-[#303096] dark:focus:ring-blue-800">
                                    See Program Detail  
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 

<div class="container bg-[#F4F4FF] border-radius">
    <div class="flex flex-col">
        <div class="basis-full flex flex-wrap justify-center">
            <div class="basis-full">
              <div class="flex flex-wrap md:p-5">
                <div class="basis-full md:basis-1/2 flex flex-col justify-center">
                    <div class="pt-5 md:pt-0">
                        <h1 class="text-[#303096] text-[28px] md:text-[36px] font-bold pt-5 ps-5 w-96">
                            We Will Help You Create the Best Training Program for Your Team
                        </h1>
                        <p class="text-[#5656C6] text-[24px] font-semibold ps-5 pt-2">Contact Us</p>
                        <img class="ps-5 pt-3" style="width: 400px; height: 320px;" src="../../../../assets/img-icon-sec-5.svg" alt="">
                    </div>
                </div>
                <div class="basis-full md:basis-1/2 flex flex-col bg-[#FFF] rounded-lg w-full h-687 p-4"  style="box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.25);">
                    <form class="w-full max-w-lg">
                        <h1 class="text-[#4F4F4F] font-bold text-[24px] mb-4">Request Training</h1>
                        <div class="flex flex-wrap -mx-3 mb-6">
                          <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                            <label class="block tracking-wide text-[#4F4F4F] text-[16px] font-semibold mb-2" for="grid-first-name">
                                Your Company
                            </label>
                            <input class="appearance-none block w-full text-[#BDBDBD] text-[14px] border border-red-500 rounded leading-tight focus:outline-none focus:bg-white" id="grid-first-name" type="text" placeholder="example : PT Digi Optima Media">
                          </div>
                          <div class="w-full md:w-1/2 px-3">
                            <label class="block tracking-wide text-[#4F4F4F] text-[16px] font-semibold mb-2" for="grid-first-name">
                                PIC Name
                            </label>
                            <input class="appearance-none block w-full text-[#BDBDBD] text-[14px] border border-red-500 rounded leading-tight focus:outline-none focus:bg-white" id="grid-first-name" type="text" placeholder="example : Rizki Dani">
                          </div>
                        </div>
                        <div class="flex flex-wrap -mx-3 mb-6">
                            <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                                <label class="block tracking-wide text-[#4F4F4F] text-[16px] font-semibold mb-2" for="grid-first-name">
                                    PIC Email
                                </label>
                                <input class="appearance-none block w-full text-gray-600 text-[14px] border border-red-500 rounded leading-tight focus:outline-none focus:bg-white" id="grid-first-name" type="text" placeholder="example : digioptima@gmail.com">
                            </div>
                            <div class="w-full md:w-1/2 px-3">
                                <label class="block tracking-wide text-[#4F4F4F] text-[16px] font-semibold mb-2" for="grid-first-name">
                                    PIC Handphone
                                </label>
                                <input class="appearance-none block w-full text-gray-600 text-[14px] border border-red-500 rounded leading-tight focus:outline-none focus:bg-white" id="grid-first-name" type="text" placeholder="input your number">
                            </div>
                        </div>
                        <div class="flex flex-wrap -mx-3 mb-6">
                            <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                                <label class="block tracking-wide text-[#4F4F4F] text-[16px] font-semibold mb-2" for="grid-first-name">
                                    Training You’d Like to Enroll
                                </label>
                                <input class="appearance-none block w-full text-gray-600 text-[14px] border border-red-500 rounded leading-tight focus:outline-none focus:bg-white" id="grid-first-name" type="text" placeholder="Select Training">
                            </div>
                            <div class="w-full md:w-1/2 px-3">
                                <label class="block tracking-wide text-[#4F4F4F] text-[16px] font-semibold mb-2" for="grid-first-name">
                                    Expected Training Participants
                                </label>
                                <select class="block appearance-none w-full text-gray-600 text-[14px] border rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-state">
                                    <option>New Mexico</option>
                                    <option>Missouri</option>
                                    <option>Texas</option>
                                  </select>
                            </div>
                        </div>
                        <div>
                            <label for="message" class="block text-[#4F4F4F] text-[16px] font-semibold mb-2">Your message</label>
                            <textarea id="message" rows="4" class="block p-2.5 w-full text-gray-600 text-[14px] rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Write your comment or question here"></textarea>
                        </div>
                        <div class="flex justify-end mt-3">
                            <button type="button" class="text-white bg-[#5656C6] hover:bg-[#5656C6] focus:ring-4 focus:outline-none focus:ring-[#303096]
                            text-[14px] rounded-xl px-3 py-2 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-[#303096] dark:focus:ring-blue-800">
                                Send & Consult with Us
                            </button>
                        </div>
                    </form>
                </div>
              </div>
            </div>
        </div>
    </div>
</div> 
