.image-1 {
    width: 260px;
    height: 320px;
    z-index: 9;
}

.image-2 {
    width: 260px;
    height: 400px;
    z-index: 10;
    padding-top: 600px;
}

.titik-biru-2 {
    position: absolute;
    right: 100px;
    width: 80px;
    height: 50px;
}

.titik-biru-1 {
    position: absolute;
    top: 480px;
    right: 510px;
    width: 108px;
    height: 50px;
}

.background-frame-yellow {
    width: 290px;
    height: 320px;
    z-index: 0.1;
    position: absolute;
    top: 170px;
    right: 200px;
}

.button-1 {
    background-image: url('../../../../assets/background-btn-1.svg');
    font-weight: 700;
    font-size: 24px;
}

.button-2 {
    background-image: url('../../../../assets/background-button-2.png');
    font-weight: 700;
    font-size: 24px;
}

.button-3 {
    background-image: url('../../../../assets/background-btn-3.svg');
    font-weight: 700;
    font-size: 24px;
}

@media (max-width: 768px) {
    .font-size {
        /* Adjust font size for smaller screens */
        font-size: 16px;
    }
}

.border-radius {
    border-radius: 220px 0px 0px 0px;
}

.border-radius2 {
    border-radius: 0px 179px 179px 72px;
}

@media screen and (max-width: 768px) {
    .mb-3 {
        width: 100%;
    }
    .text-mobile {
        width: calc(100% - 56px); /* Mengurangi lebar gambar */
        padding-left: 16px; /* Mengurangi padding kiri */
        padding-right: 16px; /* Menambah padding kanan */
    }
}

.sticky-element {
    position: sticky;
    top: 10px; /* Adjust this value according to your layout */
    left: 10px; /* Adjust this value according to your layout */
}



