<div class="bg-gradient-to-r from-[#060623] to-[#474790]">
    <div class="container">
        <div class="flex flex-wrap">
            <div class="basis-full flex flex-wrap justify-between items-center text-white my-6">
                <button type="button" class="text-white bg-[#5656C6] hover:bg-[#5656C6] focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2">Launching</button>
                <p>30 Days Left | Quota : 30 partcipants</p>
            </div>
            <div class="basis-full flex flex-wrap justify-between items-center text-white">
                <img class="rounded-2xl" src="https://www.wallpapertip.com/wmimgs/51-515222_bright-blue-and-white-background.jpg" >
            </div>
        </div>
    </div>
</div>
<div class="bg-[#F8F8F8]">
    <div class="container py-9">
        <div class="flex flex-wrap justify-center">
            <h5 class="text-[#303096] text-[42px] font-bold text-center">Why You Should Attend?</h5>
            <div class="flex flex-wrap mt-12 justify-center text-center">
                <div class="basis-full md:basis-1/3 mb-3 md:px-3 sm:px-0">
                    <div class="flex flex-wrap items-center justify-center mb-2">
                        <img class="icon" src="../../../../assets/sec-3-6.png">
                    </div>
                    <p class="font-bold text-xl text-indigo-800 mb-3">Panel Discussion</p>
                    <p>Delve into discussions with experts in the fields of technology and finance as they share their perspectives on the themes explored in "TechnoBanker." Gain unique insights into the future of banking and technology.</p>
                </div>
                <div class="basis-full md:basis-1/3 mb-3 md:px-3 sm:px-0">
                    <div class="flex flex-wrap items-center justify-center mb-2">
                        <img class="icon" src="../../../../assets/sec-3-1.png">
                    </div>
                    <p class="font-bold text-xl text-indigo-800 mb-3">Get Inspired</p>
                    <p>Get the opportunity to learn first-hand about the current technology and finances practices. Feel free to ask your questions and discuss it directly with the respective experts.</p>
                </div>
                <div class="basis-full md:basis-1/3 mb-3 md:px-3 sm:px-0">
                    <div class="flex flex-wrap items-center justify-center mb-2">
                        <img class="icon" src="../../../../assets/sec-3-5.png">
                    </div>
                    <p class="font-bold text-xl text-indigo-800 mb-3">Expand Networking</p>
                    <p>Connect and network with other enthusiasts. Discuss the potential research and design solutions that may grow your business or even collaborate in the future.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container py-9">
    <h5 class="text-[#303096] text-[42px] font-bold mb-6 text-center">Speakers</h5>
    <div class="flex flex-wrap justify-center">
        <div class="w-72 p-3 bg-white border border-gray-200 rounded-2xl shadow sm:p-6 md:p-6 flex flex-col justify-center text-center text-[#4F4F4F]">
            <img class="" src="../../../../assets/event-speaker-1.png" alt="event-speaker-1.png">
            <p class="text-[20px] font-bold my-1">DR. Elisa Indriasari</p>
            <p class="text-[15px]">Technobanker Author, Founder of Digimaster & Digi Optima Media</p>
        </div>
    </div>
</div>