<div class="container">
  <div class="flex flex-row flex-wrap">
    <!-- Section 1 -->
    <div class="basis-full py-10 flex flex-row flex-wrap">
      <div class="basis-full md:basis-1/2 flex justify-center items-center py-3">
        <h5 class="text-[42px] text-[#303096] font-bold">For Innovation & Transformation in Finance Industries</h5>
      </div>
      <div class="basis-full md:basis-1/2 flex justify-center items-center py-3">
        <p class="text-[24px] text-[#828282] font-normal">Developing your digital talent team & capabilities. We provide
          anything you need, from short, practical books, to keynote speakers and workshops.</p>
      </div>
    </div>

    <!-- Section 2 -->
    <div class="basis-full py-10 flex flex-row flex-wrap">
      <div class="basis-full md:basis-1/4 flex justify-center items-center mx-0 md:mx-3 py-3">
        <img class="icon" src="../../../../assets/about-1.png">
      </div>
      <div class="basis-full md:basis-3/4 flex justify-center items-center mx-0 md:mx-3 py-3">
        <div class="rounded-[1.5rem] text-center text-white block w-100 p-6 bg-gradient-to-r from-[#252544] to-[#303096BF]">
          <h5 class="text-[#FFD249] text-[20px] font-bold underline underline-offset-8 mb-3">Our Profile</h5>
          <h5 class="mb-2 text-2xl font-bold tracking-tight">Penerbit DIGI OPTIMA MEDIA</h5>
          <p class="font-normal">Our company is the newest venture from Dr. Elisa Indriasari, Author of Technobankers
            and Founder of DIGIMASTER. We publish book and learning experience for digital transformation in finance
            industry. We believe strongly in collaborative, cross-functional, learning-centric ways of working—a point
            of view you'll see in all of our titles.</p>
        </div>
      </div>
    </div>

    <!-- Section 3 -->
    <div class="basis-full py-10 flex flex-row flex-wrap">
      <div class="basis-full flex justify-center items-center mx-0 md:mx-3 py-3">
        <h5 class="text-[#303096] text-[42px] font-bold">Our Solution</h5>
      </div>
      <div class="basis-full md:basis-1/3 flex md:justify-end justify-center items-center mx-0 md:mx-3 py-2">
        <img class="icon" src="../../../../assets/about-2-1.png">
      </div>
      <div class="basis-full md:basis-1/3 flex justify-center items-center mx-0 md:mx-3 py-2">
        <img class="icon" src="../../../../assets/about-2-2.png">
      </div>
      <div class="basis-full md:basis-1/3 flex md:justify-start justify-center items-center mx-0 md:mx-3 py-2">
        <img class="icon" src="../../../../assets/about-2-3.png">
      </div>
    </div>
  </div>
</div>